<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body hidden>
    <div id="app" class="app">
      <div id="container" class="container">
        <template v-if="loaded">
          <div class="timer">
            {{ count }}
          </div>
        </template>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
